.carousel .item {
  height: 200px;
}

.item img {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 300px;
}

img.board {  
    height: 250px;
    object-fit: contain;
}
p{
    margin-bottom:5px;
}

p.indent {
    text-indent: 30px;
}

img{
    max-height: 80%;
}

.container{
    margin-top:30px;
}